<div class="task"><% Rails::logger.info "@@@@@@@@@@@@@@@@@@@@@_task.html.erb" %>
  <div class="fields">
    <div class="title">
  	  <%= task.title %>
    </div>
    <div class="description">
      <%= task.description %>
    </div>
  </div>
  <div class="actions">
    <%= link_to "Add subtask", new_tasks_path(:parent_id => task) %>
    <%= link_to "Add another task", new_tasks_path(:parent_id => "TBA", :after_id => task) %>
  </div>
</div>
